/* Custom variables defined in root  */
:root {
    --mycolor: linear-gradient(darkblue, aqua);
}

/* give the scroll-behavior to smooth in the html element */
html {
    scroll-behavior: smooth;
}

/* Universal selector */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELement selector for body */
body {
    position: relative;
    background-color: #DAEBEF;
    display: block;
}

/* Element selector for Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    background-image: var(--mycolor);
    width: 100%;
    border-bottom: 4px solid black;
    z-index: 2;
}

/* Element selector for Header */
footer {
    position: relative;
    bottom: 0;
    background-image: var(--mycolor);
    width: 100%;
    border-top: 4px solid black;
    text-align: center;
    padding: 12px;
}

/* element selector for li */
li {
    display: inline;
    padding-left: 10px;
    margin-left: 30px;
}

/* element selector for a */
a {
    text-decoration: none;
    color: beige;
    border-bottom: 2px solid beige;
}

/* element selector for main  */
main {
    padding-top: 100px;
}

/* element selector for h2 */
h2 {
    font-style: italic;
    border-bottom: 2px solid #000;
    margin-left: 20px;
}

/* Class selector for profile section*/
.profile {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* class selector for .profile-pic (this containts the profile pic and the nametag ) */
.profile-pic {
    max-width: 40%;
    text-align: center;
    position: relative;
}

/* element selector for the img only in .proflie-pic class */
.profile-pic img {
    border-radius: 30%;
    border: 4px solid #000;
    width: 100%;
    box-shadow: 10px 10px 5px gray;
}

/* class selector for .profile-name( which is the h1 element ) */
.profile-name {
    position: absolute;
    border: 2px solid #000;
    border-radius: 25%;
    background-color: beige;
    color: #000;
    bottom: 6px;
    left: 0;
    right: 0;
    width: 280px;
    margin: 0 auto;
    padding: 20px 0;
    font-weight: 600;
    font-style: oblique;
    font-size: 30px;
}

/* class selector for section about me*/
.about {
    padding: 20px;
    width: 60%;
}

/* element selector for the ul only in .contact class */
.contact ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
    align-items: center;
    font-size: 18px;
}

/* element selector for a only in .contact class */
.contact a {
    color: #000;
    border-bottom: 2px solid #000;
}

/* element selector for p */
p {
    text-align: left;
    margin-top: 40px;
}

/* class selector for my work section */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
    padding: 20px 0;
}

/* class selector for .apps( that contain the project image with a name) */
.apps {
    position: relative;
    flex: 0 2 300px;
}

/* class selector for the project that sticks out(the image of the project is displayed bigger than the other) */
.big {
    flex: 2 0 400px;
}

/* element selector for the images that are links in the class .apps */
.apps a img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 5px solid #000;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
}

/* class selector for .text-box( the name of the project that sticks to the image of the project) */
.text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: beige;
    color: #000;
    padding: 5px 30px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #000;
}

/* adds the effect when you hover over the project image . */
.apps a img:hover {
    border: none;
    box-shadow: inset 5px 5px 30px darkblue, 5px 5px 20px blue;
}

/* adds the effect when you hover over the links in the header and footer */
a:hover {
    color: darkred;
    border-bottom: 2px solid darkred;
}

/* media querie to give a responsive layout that adapts to the users viewport ( depending on the screen )  */
@media screen and (max-width: 768px) {

    .profile {
        flex-direction: column;
        align-items: center;

    }

    .big {
        order: -2;
    }

    .profile-pic {
        max-width: 100%;
    }

    .about {
        width: 100%;
    }

    .contact ul {
        flex-direction: column;
        align-items: center;
    }
}