*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #DAEBEF;
    display: block;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
    position:fixed;
    background-color: darkblue;
    width:100%;
    border-bottom: 4px solid black;
    z-index: 2;
}
 li{
    display: inline;
    padding-left:10px;
    border-bottom: 2px solid beige;
    margin-left:30px;
}
a{
    text-decoration: none;
    color:beige;
}
main{
    padding-top: 100px;
}
.profile{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;

}
.container {
    max-width: 40%;
    text-align: center;
    position: relative;
}
.container img{
    border-radius: 40%;
    border: 4px solid #000;
    width: 100%;
   
}
.photo-name{
    position: absolute;
    border:2px solid #000;
    border-radius: 20px;
    background-color: aquamarine;
    bottom: 0;
    left: 0;
    right: 0;

}
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin:20px 0;
}
.about{
    padding:20px;
    width: 60%;
}


p{
    text-align:left;
    margin-top:40px;
}

.work{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:20px;
    
}
.small{
    flex:1 1 100px;
    position: relative;
}
.big{
    flex: 2 1 100px;
    position: relative;
}
img{
    width:100%;
    border-radius: 20px;
    border: 5px solid #000;
   
}
.text-box{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 10px;
        border-radius: 20px;
}



